/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
}

.hoverable {
  transition: all 0.5s ease;
  scale: 1;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}
